datajoint
canonical-imaging @ https://github.com/vathes/canonical-imaging.git
canonical-lab-management @ https://github.com/vathes/canonical-lab-management.git
canonical-colony-management @ https://github.com/vathes/canonical-colony-management.git